
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
  }

* {
    margin: 0;                /* Remove default margin */
    padding: 0;               /* Remove default padding */
    box-sizing: border-box;   /* Include padding and border in total width and height */
}

/* Ensure html and body fill the viewport */
html, body {
    min-width: 100%;             /* Set width to 100% of the viewport */
    min-height: 100%;             /* Set height to 100% of the viewport */
    overflow-x: auto; 
    overflow-y: auto;      /* Prevent horizontal scrolling */
         /* Allow vertical scrolling if necessary */
}
.container {
  max-width: 100%;
  padding: 0 15px;
}
.sidebar-link {
    transition: all 0.3s ease;
  }
.sidebar-link:hover {
    background-color: #0d6efd; /* Light gray hover */
    border-radius: 5px;
    color: white !important;
    padding: 5px;
  }
  .sidebar-icon{
    color: red !important;
  }
  